

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.con-dev {
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1 {
  font-size: 32px;
  font-weight: 600;
  color: green;
  margin-bottom: 30px;
}
.tablecon {
  margin-top: 50px;
  overflow: scroll;
}
table {
  
  background-color: #61dafb;
}
table tr:nth-child(even) {
  background-color: blanchedalmond;
  padding-left: 10px;
  padding-right: 10px;
}
table tr:nth-child(odd) {
  background-color: rgb(237, 160, 46);
  padding-left: 10px;
  padding-right: 10px;
}
.tableimg {
  width: 50px;
  height: 50px;
}
table tr td {
  width: 100%;
  padding: 0 20px;
}
